html { overflow-x: hidden; }

a {
	text-decoration: none;
}
/* Carousel */
.my-carousel {
	padding: 0;
}

.my-carousel .carousel-item img {
	object-fit: cover;
}
/* Carousel */

.my-carousel .carousel-item {
	display: flex;
	max-height: 700px;
}

.my-img
	display: flex;
	max-height: 300px;
	object-fit: cover


html, body {
	height: 100%;
	margin: 0;
   }
   .footer,
   .push {
	height: 50px;
   }